@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --21px: 1.3125rem;
  --72px: 4.5rem;
  --48px: 3rem;
  --165px: 10.3125rem;
  font-family: $front-karla;
}

img {
  display: block;
}
