@use "variables" as *;
@use "mixins" as *;

/*=============================================
=            NAV STARTS            =
=============================================*/

.nav {
  &__item {
    @include font(var(--20px), 2px, 700, $color-white, uppercase);
  }

  @media (min-width: 768px) {
    &__item {
      font-size: var(--13px);
      &--desktop {
        color: $color-gray;
        @media screen and (prefers-reduced-motion: no-preference) {
          transition: color 0.3s;
          &:hover {
            color: $color-dark;
          }
        }
      }
    }
  }
}

/*=====  NAV ENDS  ======*/

/*=============================================
=            HEADER STARTS            =
=============================================*/

.header {
  &__heading {
    @include font($font-main-heading, 0.05, 700, $color-white, none);
    font-family: $font-serifDisplay;
    line-height: 1.1;
    text-align: center;
    padding: 0 0.625rem;
  }
  &__text {
    @include font(var(--16px), 0.1, 400, $color-white, none);
    line-height: 1.8;
    text-align: center;
    padding: 0 1.5625rem;
  }

  @media (min-width: 768px) {
    &__heading,
    &__text {
      text-align: left;
      padding: 0;
    }
  }
}

/*=====  HEADER ENDS  ======*/

/*=============================================
=            MAIN SECTION ONE STARTS          =
=============================================*/

.section1 {
  &__heading {
    @include font($font-main-heading, 0.05, 700, $color-purple, none);
    font-family: $font-serifDisplay;
    text-align: center;
  }

  &__title {
    @include font(1.75rem, 0.05, 700, $color-purple, none);
    font-family: $font-serifDisplay;
  }
  &__text {
    @include font(var(--16px), 0.05, none, $color-gray, none);
    font-family: $front-karla;
    text-align: center;
    line-height: 1.6;
  }

  @media (min-width: 580px) {
    &__heading {
      text-align: left;
    }
    &__title {
      font-size: 1.5625rem;
    }
    &__text {
      text-align: left;
    }
  }
}

/*=============================================
=            MAIN SECTION TWO STARTS             =
=============================================*/

.section2 {
  &__heading {
    @include font(
      clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem),
      0.05,
      700,
      $color-white,
      none
    );
    font-family: $font-serifDisplay;
    line-height: 1;
    text-align: center;
  }
  @media (min-width: 700px) {
    &__heading {
      text-align: left;
    }
  }

  @media (min-width: 1440px) {
    &__heading {
      // padding-right: 11rem;
    }
  }
}

/*=============================================
=            MAIN SECTION TWO ENDS             =
=============================================*/
.footer {
  &__nav {
    @include font(var(--13px), 0.05, 400, $color-gray, uppercase);
  }
  &__item {
    @include font(var(--13px), 0.05, 400, $color-dark, uppercase);
    @media screen and (prefers-reduced-motion: no-preference) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*=============================================
=            FOOTER STARTS             =
=============================================*/

/*=============================================
=            FOOTER ENDS             =
=============================================*/
