$side-padding: clamp(var(--25px), -1.5185rem + 13.1455vw, var(--165px));

$font-serifDisplay: "DM Serif Display", serif;
$front-karla: "Karla", sans-serif;
$font-main-heading: clamp(var(--48px), 2.4718rem + 2.2535vw, var(--72px));

// color
$color-dark: #2c2830;
$color-gray: #837d88;
$color-purple: #2d2641;
$color-pale-blue: 96A9C6;
$color-white: #fff;
